 
  body{ 
      font-family: 'Public Sans', sans-serif;
     
}

nav{
    /* background-color: red; */
    /* background-color: white; */
    height: 10vh;
    width:100%;
    
    /* background-color: violet; */
}

nav .middle-container{
    margin:auto;
    width:84%;
    height: 10vh;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.toggler .toggler-image-hamburger,.toggler-image-close,input{
    display: none;
}
.page-link{

    width: 35%;
    
    /* background-color: green; */
   
   
}

.page-link ul{
   
    margin: auto;
   /* background-color: violet; */
   height: 100%;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    font-size: 21px;
    
   
  
} 
.page-link ul li{
    margin: auto 10px;
    
}
.page-link ul li:hover{
    border-bottom:3px solid hsl(136, 65%, 51%);
}
.page-link a{
    /* text-decoration-color: aqua; */
    color:grey;
}

nav .hamburger{
    display: none;
}

 button{
    background-image: linear-gradient(90deg,hsl(136, 65%, 51%), #2bb7da);
    color: white;
    border:none;
    
    width: 11vw;
    height:6vh;
    border-radius: 40px;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
    /* background-image: linear-gradient(90deg,hsl(136, 65%, 51%) ,hsl(192, 70%, 51%) 0.2%); */
}
.sidebar .middle-container{
    width: 85%;
    margin: auto;
}

.sidebar{
    
    height:71vh;
    /* border:1px solid black; */
    position: relative;
    
}
.sidebar-text{
    width: 29%;
    /* border:1px solid grey; */
    height: 50%;
    position: absolute;
    top:25%;
    left:8%;
    color:grey;
    font-size: 18px;
    /* font-size: 0.5em; */
}
.sidebar h1{
    font-size: 70px;
    margin-bottom: 15px;
    color: hsl(233, 26%, 24%);
}
.sidebar .heading{
    margin-bottom: 40px;
}
.sidebar button{
    margin-top: 40px;
}
.padding-bottom-10{
padding-bottom: 10px;

}
.svg{
    height: 100vh;
    width:100%;

     background:url('./images/image-mockups.png') no-repeat  top right, url('./images/bg-intro-desktop.svg') no-repeat top right;
    
    background-position: top -122px right -130px, top  -260px right -420px; 

}
.main{
    height: 50vh;
    background-color: rgb(244, 245, 247);
}
.main .middle-container{
    padding-top: 80px;
    height: 30vh;
    margin:auto;
    width:84%;
   
}

.main .options{
    display:flex;
    justify-content: space-between;
    color:grey;
    /* border:1px solid black; */
}
.main{
    z-index: -3;
 
}

.main h1{
    font-size:40px;
    padding-bottom:15px;
    color: hsl(233, 26%, 24%);

}
.main .main-heading{
    margin-bottom: 40px;
    color:grey;
}


.main .heading{
    margin: 10px auto;
    font-size: 25px;
    color: hsl(233, 26%, 24%);

}
.latest-articles button{
    filter:brightness(100%);
    /* background-color: red; */
}
.latest-articles .middle-container{
    /* background-color: aqua; */
    padding-top: 80px;
    height: 60vh;
    margin:auto;
    width:84%;
    color:grey;

}
.latest-articles .middle-container .options{
    display:flex;
    justify-content: space-between;
    /* border:1px solid black; */
}
.latest-articles h1{
    font-size:40px;
    margin: 30px 0px;
    color: hsl(233, 26%, 24%);
}
.latest-articles img{
    width:100%;
    height: 200px;
    text-align: center;
    /* padding: auto auto; */
    
}
 .latest-articles .item{
    /* border:1px solid black; */
    /* padding-left: auto;
    padding-right: auto; */
    /* align-content: center; */
    width:24%;
   
}
 .latest-articles .inner-text{
    padding: 20px;
    width: 80%;
    /* background-color: green; */
}
.heading .inner-text{
    padding: 20px;
    width: 100%;
    /* background-color: green; */
}
.latest-articles .writer{
    font-size: 13px;
    color:gray;
}
.latest-articles .heading{
    margin: 10px auto;
    font-size: 22px;
    color: hsl(233, 26%, 24%);

}
.latest-articles .heading:hover{
    color:hsl(192, 70%, 51%);

}
footer{
    color:white;
    /* margin-top: 400px; */
    background-color: rgb(45, 49, 78);
    height: 17vh;
    /* border:1px solid black; */
    /* margin-bottom: 0px; */
    /* margin-top: 20px; */
   
    
   
   
}
footer .middle-container{
    /* height: 17vh; */
    /* border:1px solid black; */
    margin:auto auto;
    padding:4vh;
    width:84%;
    /* position: relative; */
    /* padding:20px auto; */
}
footer .options{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* border:1px black solid; */
}
.icons{
    align-self:center ;
    /* border:1px solid black; */

}
 .footer-icon{
    margin-bottom: 40px;
   
    /* background-color: aqua; */
    /* color: white; */
    align-self: center;
} 
footer .social-media-icons img:hover{
    filter: invert(79%) sepia(68%) saturate(3022%) hue-rotate(154deg) brightness(89%) contrast(90%);
}
footer img{
    margin:0px 2px;
} 

  footer .links{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
    align-self: center;

}  
footer .link:hover{
    border-bottom:3px solid hsl(192, 70%, 51%);

}
 .left-link,.right-link{
    height:8vh;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
} 


footer .footer-button{
   align-self: center;
    /* background-color: blue; */
}
footer button{
    margin-bottom: 10px;
}
footer .footer-icon{
    filter:invert(99%) sepia(88%) saturate(2%) hue-rotate(315deg) brightness(109%) contrast(100%);
}

@media (max-width:375px) {
    body{
        /* background-color: red; */
        
        background:url('./images/image-mockups.png') no-repeat top, url('./images/bg-intro-mobile.svg') no-repeat top;
        background-size: 100%;

    }
    
    nav{
        width:100%;
        height: 10vh;
        background-color: white;
        /* background-color: violet; */
    }

   .page-link {

       /* display:none; */
       background-image:linear-gradient(180deg,hsl(233, 26%, 24%,0.7),rgb(173, 176, 185,0.1));
       /* background-color: turquoise; */
       /* background: transparent; */
      
       width: 100%;
       height:400px;
       position: absolute;
       top:10vh;
       left:0px;
       /* margin-left: 5%; */
       display: none;
       padding-top:20px;
       /* z-index: 5; */
       
       
   }
 
    .page-link ul {
       width:70%;
       height:300px;
       background-color: white;
       display: flex;
       flex-direction:column ;
       justify-content: center;
       /* height: 200px; */
       
       
   } 
   .page-link ul li{
       margin: auto auto;
   }
   .toggler .toggler-image-hamburger{
       display:block;
   }
   .toggler .toggler-image-close{
       display: none;

   }
  
  .toggler input:checked ~ .page-link{
    display: block;
   

   }
   .toggler input:checked ~ .toggler-image-hamburger{
    display: none;
    
   

   }
   
   .toggler input:checked ~ .toggler-image-close{
       display:block
   }
 
 
   
    nav .request-invite-button{
        display: none;
    }
  
    

.sidebar{
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 30%;
    /* background-color: red; */
    /* border:1px solid black; */
    display: flex;
    flex-direction: column-reverse;
    clear: both;
   
}
.sidebar .middle-container{
    
   height: 50VH;
    
}
.svg{
    
    /* position:absolute;

    height: 100vh;
    width:100%;
    background-color:black ; */
    
     /* background:url('./images/image-mockups.png') no-repeat top, url('./images/bg-intro-mobile.svg') no-repeat top; */
     /* background-size: 100%; */
    display:none;
    /* background-position: top -12px, top  0px;  */
    /* background-position: top -10px ; */


}
.sidebar .heading h1{
    font-size: 40px;
}
.sidebar-text{
    
    width: 100%;
    height: 400px;
    /* margin-top: 300px; */
margin-left: 0px;
     /* background-color: aqua;  */
    /* position: relative; */
    /* position: absolute;
;
left:0%;
bottom: 0%; */
position: relative;
left: 0%;

    font-size: 18px;
    text-align: center;
}
button{
    width:280px;
    margin: auto;
}
.main{
    height:150vh;
    /* border:1px black solid; */
}

.main .padding-bottom-10{
    font-size: 15px;
    padding-bottom: 10px;
}
.main .options{
    display:flex;
    flex-direction: column;
   
    justify-content: space-between;
    /* border:1px solid black; */
}
.main .options .item{
    margin-top:20px;
    text-align: center;
}
.main h1{
    font-size: 21px;
}
.latest-articles{
    height: 320vh;
    /* border:1px solid green; */
    /* text-align: center; */
}
.middle-container .h1-heading{
    text-align: center;
}
 .latest-articles .middle-container .options{
   
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    /* border:1px solid black; */
    
 }  
 .latest-articles .item{
     width:80%;
     height:500px;
     align-self: center;
     /* margin-bottom: 500px auto; */
 }
 footer{
     height: 100%;
     border:1px black solid;
     
     /* background-color: blueviolet; */
 }
 footer .middle-container{
     height: 50vh;
 }
 footer .options{
     /* display: inline-block; */

     flex-direction: column;
     justify-content: space-around;
    

 }
 footer .icons{
     width:70%;
     margin-left: 10px;
     text-align: center;
 }
 .social-media-icons img{
     width:13%;
     margin:0px 5px;
 }
 .footer-icon{
    
    margin-bottom: 30px;
   filter: brightness(1000) rgba;
    /* background-color: aqua; */
    /* color: white; */
    /* align-self: center; */
} 
footer .links{
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
    /* align-items: center; */
    text-align: center;
    padding-left:50px ;
    margin-top: 30px;
    /* border:1px solid black; */
}
footer .left-link,.right-link{
    width: 100%;
    /* border:1px green solid; */
    align-self: center;
    margin-top: 10px;
}
footer button{
    margin-top: 30px;
    margin-bottom: 30px;
}
}
